@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
nav {
    font-weight: 600;
    font-size: 16px;
    padding-top: 25px;
}
nav a { 
    margin-left:20px;
}
nav a:hover {
    color: #Fc697b;
}


.logoperro {
    height: 80px;
}

.seccion1 {
    background-image: url(img/perro1.png);
    background-size: cover;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
} 

.seccion1 h1,.seccion1 p,.seccion1 button {
    color: white;
    margin-top: 8%;
    margin-left: 20%;
}
.seccion1 h1 {
    font-size: 5rem;
}
.seccion1 p {
    font-size: 1.8rem;
    line-height: 27px;
    margin-top: 3%;
    font-weight: 200;
}
.seccion1 button {
    color: #f53a50;
    background-color: white;
    padding: 20px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top:4%;
}
.seccion1 button:hover {
    transition: .3s;
    background-color: #c94970;
    color: white;
    box-shadow: 0px 0px 35px white, 0px 0px 15px white;
}



.seccion2 {
    margin-bottom: 5%;
}
.seccion2 img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #f53a50;
}
.seccion2 img:hover {
    border-radius: 10px;
    box-shadow: 0px 0px 20px #f53a50,0px 0px 10px black;
}
.seccion2 h1 {
    font-size: 4rem;
    padding: 4% 0;
    display: flex;
    justify-content: center;
    color: #f53a50;
}
.seccion2 h2 {
    color: #f53a50;
}
.seccion2 p {
    color: black;
}
.seccion2 button {
    color: white;
    background-color: #f53a50;
    width: 17rem;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top:4%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion2 button:hover {
    transition: .3s;
    background-color: #c21d5f;
    box-shadow: 0px 0px 15px #Fc697b, 0px 0px 15px white;
}
.items {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.items h2 {
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 10%;
    padding-bottom: 8%;
}
.items p {
    font-size: 1.3rem;
    line-height: 27px;
    color: black;
    width: 90%;
    margin-bottom: 15%;
}
.item1,.item2,.item3 {
    width: 25rem;
}



.seccion3 {
    background-color: rgb(194,29,95);
    background: linear-gradient(24deg, rgba(194,29,95,1) 39%, rgba(245,58,80,1) 74%, rgba(252,105,123,1) 92%);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccion3 h1 {
    
    color: white;
    font-size: 4.5rem;
    font-weight:700;
}
.seccion3 p {
    color: white;
    font-size: 1.5rem;
    line-height: 27px;
    margin: 1% 0;
}
.seccion3 button {
    color: #f53a50;
    background-color: white;
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top:1%;

}
.seccion3 button:hover {
    transition: .3s;
    background-color:#f53a50 ;
    color: white;
}



.seccion4 {
    background-image: url(img/perro2.jpg);
    background-size: cover;
    background-color: #c21d5f;
    height: 60vh;
    display: flex;
    align-items: center;
}
.seccion4 h1 {
    font-size: 6rem;
    line-height: 9rem;
    color: white;
    margin-left: 60%;
}



.seccion5 {
    display: flex;
    justify-content: space-evenly;
}
.izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin-top: 10vh;
}
.izquierda p {
    font-size: 1.4rem;
    line-height: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10%;
    margin-top: 15%;
    margin-left: 5%;
}
.p2 {
    padding-bottom: 20%;
}
.seccion5 h1 {
    color: #f53a50;
    font-size: 5rem;
}
.seccion5 h2 {
    margin-bottom: 3%;
}
.derecha {
    margin-top: 12vh;
    
}
.caja1,.caja2,.caja3 {
    margin-bottom: 20%;
    background-color: white;
    height: 17%;
    width: 30rem;
    border-radius: 7px;
    margin-left: 15%;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.seccion5 img {
    position: absolute;
    border-radius: 5px;
    left: 63%;
}
.bc {
    position: absolute;
    z-index: -3;
    background-color: rgb(252,105,123);
    background: linear-gradient(137deg, rgba(252,105,123,1) 36%, rgba(194,29,95,1) 80%);
    height: 67vh;
    width: 25vw;
    border-radius: 0 0 250px 0;
    left: 70%;
    z-index: -1;
}



.seccion6 {
    position: relative;
    z-index: -2;
    background-color: rgb(255, 244, 246);
    height: 80vh;
}
.seccion6 h1 {
    color: #f53a50 ;
    display: flex;
    justify-content: center;
    font-size: 5.5rem;
    padding-top: 5%;
}
.seccion6 h2 {
    position: relative;
    color: #f53a50;
    font-size: 3rem;
    margin-bottom: 10%;
}
.seccion6 p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}
.bloques {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-left:5%;
}
.bloque1 {
    max-width: 340px;
    margin: 0 20px;
}
.bloque2 {
    max-width: 340px;
    margin: 0 20px;
}
.bloque3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 340px;
    margin: 0 20px;
}
.patita2 {
    position: absolute;
    left: 10%;
    width: 10%;
}



.seccion7 {
    display: grid;
    grid-template-columns: 40% 60%;
}
.izquierda7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.seccion7 h1 {
    padding-top: 10%;
    font-size: 5rem;
    color: #f53a50;
}
.seccion7 p {
    font-size: 1.7rem;
    line-height: 30px;
    margin: 5% 0;
}
b {
    color: #f53a50;
}
.derecha7 {
    max-width: 55%;
    padding-bottom: 5%;
    margin-left: 15%;
}



.seccion8 {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(194,29,95);
    background: linear-gradient(24deg, rgba(194,29,95,1) 39%, rgba(245,58,80,1) 74%, rgba(252,105,123,1) 92%);
}
.seccion8 h1 {
    color: white;
    font-size: 4rem;
    padding:  0 3%;
}
.seccion8 p {
    font-size: 1.4rem;
    line-height: 30px;
    color: white;
    text-align: center;
    margin-top: 2%;
    margin-bottom:2%;
}
.seccion8 a {
    color: #f53a50;
    background-color: white;
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top:1%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.seccion8 a:hover {
    transition: .4s;
    color: white;
    background-color: #Fc697b;
    box-shadow: 0px 0px 15px white, 0px 0px 5px #f53a50;
}



.seccion9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}
.seccion9 form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50%;
    padding-top: 3%;
    margin-right: 5%;
}
.name {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.email {
    display: flex;
    flex-direction: column;
}
.fline {
    display: flex;
}
.fline input {
    margin-bottom: 3%;
    width: 17vw;
    height: 5vh;
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
}
.fline label {
    font-size: 1.5rem;;
    margin-bottom: 4%;
}
.seccion9 h1 {
    font-size: 4.5rem;
    padding-top: 5%;
    color:  #f53a50;
    margin:0 auto;
}
.subjet {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.subjet label {
    margin-bottom: 2%;
    margin-top: 3%;
}
.subjet input {
    outline: none;
    border-style: none;
    width: 127%;
    height: 5vh;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
}
.msg {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
.msg label {
    margin-bottom: 3%;
    margin-top: 4%;
}
.msg input {
    height: 25vh;
    width: 34vw;
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: start;
}
.btnsub  {
    color: white;
    background-color:#f53a50;
    height: 05rem;
    width: 20rem;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin: 20% 35%;
    box-shadow: 0 0 5px black;
}
.btnsub:hover {
    transition: .3s;
    background-color: #c94970;
    color: white;
    box-shadow: 0px 0px 35px #c21d5f, 0px 0px 15px #f53a50;
}
textarea {
    width: 127%;
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: start;
    resize: none;
    padding-top: 15px;
    padding-left: 15px;
}



footer {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    height: 15vh;
    background-color: rgb(194,29,95);
    background: linear-gradient(24deg, rgba(194,29,95,1) 39%, rgba(245,58,80,1) 74%, rgba(252,105,123,1) 92%);
}

.f1 {
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    margin-left: 15%;
    align-items: flex-end;
}
.perro {
    margin-right: 85px;
}
.icons i { 
    color: white;
    font-size: 30px;
    display: inline;
    margin-bottom: 30%;
    cursor: pointer;
}
.icons {
    margin-left: 5%;
    display: inline-flex;
    margin-bottom: 25px;
}
.lab {
    margin-right: 50px;
}
.icono {
    margin-right: 70px;
    color: #fff;
}
.cr p {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



::-webkit-scrollbar  {
    display: none;
}